*.cache
*.user
CoreWinApp/obj/
JJJWebApp/obj/
obj/
JJJWebWorkerRole/obj/
LibCore/obj/
TestJJJWebIF/obj/
TestLibCore/obj/
TestProject1/obj/
WebIF/obj/
CoreWinApp/bin/
JJJWebApp/bin/
bin/
JJJWebWorkerRole/bin/
LibCore/bin/
TestJJJWebIF/bin/
TestLibCore/bin/
TestProject1/bin/
WebIF/bin/
TestResults
*/csx
ibec_jjjcalc.suo
ibec_jjjcalc2.vsmdi
ibec_jjjcalc3.vsmdi
ibec_jjjcalc4.vsmdi
packages
CertHouseWebApp.Azure/Profiles/
CertHouseWebApp.Azure/ServiceDefinition.build.csdef

